<% if current_user && current_user.posts.any? %>
  <div class="container mt-4" id="posts-container">
    <div class="row">
      <h3 class="my-posts">Meus Posts</h3>
      <% current_user.posts.each do |post| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-white"><%= post.title %></h5>
              <small class="text-white"><%= post.created_at.strftime("%d/%m/%Y %H:%M") %></small>
              <div class="actions">
                <p><%= link_to 'Ver', post_path(post), class: 'link-light' %></p>
                <p><%= link_to 'Editar', edit_post_path(post), class: 'link-light' %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>